@page
@model PrivacyModel
@{
    ViewData["Title"] = "PRIVAT";
}
<h1>@ViewData["Title"]</h1>

<h3><strong>Kannst du nicht lesen??? Das ist Privat!</strong></h3>
<p>Bitte drück nicht <a href="Privacy_2">hier</a> drauf</p>